#titlebar {
    color: navy;
    font-size: 60px;
    padding-bottom: 20px;
    font-style: italic;
    font-family: 'Noto Sans Meroitic', sans-serif;

}

#clicker {
    margin-bottom: 20px;
    background-color:rgb(9, 9, 138);
    color:rgb(246, 237, 225);
    font-family: 'Noto Sans Meroitic', sans-serif;
}

#vote-bb {
    background-color: rgb(9, 9, 138);
    color: rgb(246, 237, 225);
    font-family: 'Noto Sans Meroitic', sans-serif;
}

#vote-got {
    background-color:rgb(9, 9, 138);
    color:rgb(246, 237, 225);
    font-family: 'Noto Sans Meroitic', sans-serif;
}

#which-one {
    padding: 20px;
    font-family: 'Noto Sans Meroitic', sans-serif;
}

.col-lg-6 {
    text-align: center;
}

.scores {
    font-size: 400px;
    font-family: 'Noto Sans Meroitic', sans-serif;
}

.quotes {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: rgb(83, 8, 8);
}

.col-lg-12 {
    text-align: center;
}

.show-title {
    color: rgb(83, 8, 8);
    text-decoration: underline;
}

body {
    color: navy;
    background-color: rgb(246, 237, 225);
}